header{
    width: 100%;
    position: fixed;
}

nav {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div {
    display: table-cell;
    vertical-align: middle;
}
nav li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
}
nav li img {
    width: 50px;
    height: 50px;
}
nav li a {
    color: #fff;
    font-size: large;
    text-decoration: none;
    white-space: nowrap;
}

#nav-login-btn {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 10px 18px;
    border: 2px solid #fff;
    transition: 0.3s;
}
#nav-login-btn:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}